<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bincom.citizenreport" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Citizen Report</name>
    <description>
        A mobile application for citizens to report incidents and track their resolution.
    </description>
    <author email="support@bincom.net" href="https://bincom.net">
        Bincom Development Team
    </author>

    <!-- App Content Configuration -->
    <content src="index.html" />

    <!-- Permissions and Security -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- Platform Specific Settings -->
    <platform name="android">
        <!-- Permissions -->
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>

        <!-- App Icons -->
        <icon density="ldpi" src="res/android/icon/ldpi.png" />
        <icon density="mdpi" src="res/android/icon/mdpi.png" />
        <icon density="hdpi" src="res/android/icon/hdpi.png" />
        <icon density="xhdpi" src="res/android/icon/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/icon/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/icon/xxxhdpi.png" />

        <!-- Splash Screens -->
        <splash density="land-ldpi" src="res/android/splash/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="res/android/splash/splash-land-mdpi.png" />
        <splash density="land-hdpi" src="res/android/splash/splash-land-hdpi.png" />
        <splash density="land-xhdpi" src="res/android/splash/splash-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="res/android/splash/splash-land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="res/android/splash/splash-land-xxxhdpi.png" />
        <splash density="port-ldpi" src="res/android/splash/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/android/splash/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/android/splash/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/android/splash/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/android/splash/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/android/splash/splash-port-xxxhdpi.png" />
    </platform>

    <!-- Preferences -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/icon/xxxhdpi.png" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="BackgroundColor" value="#FFFFFF" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="Orientation" value="portrait" />

    <!-- Allow Mixed Content and Geolocation for Android -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="GradlePluginKotlinEnabled" value="true" />

    <!-- Plugins - Using simplified format without version specifications -->
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-statusbar" />

    <!-- CSP - Content Security Policy -->
    <meta http-equiv="Content-Security-Policy" 
          content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline' http://www.citizen-report.eu-4.evennode.com https://www.citizen-report.eu-4.evennode.com; 
                   style-src 'self' 'unsafe-inline'; 
                   media-src *; 
                   img-src 'self' data: content:;">
</widget>
